
   @font-face {
    font-family: 'Sweet';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Light.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

        body {
            background-color: #f5eee6;
            margin: 0%;
            font-family: 'Playfair Display', serif;
            line-height: 150%;

        }

        li {
            list-style: none;
        }

        a {
            text-decoration: none;
            color: #000;
        }

        .image01 {
            background-image: url('02.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .basic-image {
            width: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;


        }

        .line {
            border-top: 5px solid black;

        }



        .accordion a {
            position: relative;
            display: flex;
            padding: 1rem;
            font-size: 1.15rem;
            border-bottom: 1px solid #e5e5e5;
        }

        .accordion a:hover,
        .accordion a:hover::after {
            cursor: pointer;
            color: #ff5353;
        }


        .accordion a.active {
            color: #ff5353;
            border-bottom: 1px solid #ff5353;
        }

        .accordion a::after {
            font-family: 'Ionicons';
            content: '\f218';
            position: absolute;
            float: right;
            right: 1rem;
            font-size: 1rem;
            text-align: center;
        }

        .accordion a.active::after {
            font-family: 'Ionicons';
            content: '\f209';
            color: #ff5353;

        }

        .accordion .content {
            opacity: 0;
            padding: 0 1rem;
            max-height: 0;
            border-bottom: 1px solid #e5e5e5;
            overflow: hidden;
            clear: both;
            -webkit-transition: all 0.2s ease 0.15s;
            -o-transition: all 0.2s ease 0.15s;
            transition: all 0.2s ease 0.15s;
        }

        .accordion .content.active {
            opacity: 1;
            padding: 1rem;
            max-height: 100%;
            -webkit-transition: all 0.35s ease 0.15s;
            -o-transition: all 0.35s ease 0.15s;
            transition: all 0.35s ease 0.15s;
        }
            h5 {margin-top:0;margin-bottom:50px;
               font-family: 'Sweet';
               font-size: 15px;line-height: 1.5;
            }
   

        @media (min-width:800px) {

            /* nav */
            #nav {
                font-family: 'Playfair Display', serif;
                font-size: 20px;
                position: fixed;
                width: 150px;
                margin: 0% 3%;
            }

            #nav:hover {
                background-color: white;

            }

            ul {
                padding: 30px 15px;

            }

            li {
                list-style: none;
                margin: 3px;
                padding: 0px 10px;
            }

            .logo {
                width: 100px;
            }

            /* main */
            #main {
                position: absolute;
                padding: 30px;
                left: 150px;
                margin-left: 3%;
            }


            .title h1 {
                font-size: 3rem;
                margin: 5%;
                padding: 2% 0%;
                border-top: 1px solid black;
            }

            .title p {
                margin: 5% 5% -5% 5%;
                font-size: 0.9rem;
            }

            .section {
                display: flex;
                flex-direction: row;
                margin: 5%;
                column-gap: 20px;

            }

            .center {
                margin: 25vh auto 0;
                transform: translateY(-50%);
            }

            .item1 {
                flex-grow: 1;
                flex-basis: 300px;
            }

            .item1-2 {
                flex-grow: 1;
                flex-basis: 300px;
                background-color: white;
                text-align: center;
                height: 50vh;
            }

            .item2 {
                flex-grow: 2;
                flex-basis: 400px;
            }

            .item3 {
                flex-grow: 3;
                flex-basis: 500px;
            }

            .item4 {
                flex-grow: 4;
                flex-basis: 700px;
            }

            .item5 {
                flex-grow: 5;
                flex-basis: 1200px;
            }





            /* footer */
            footer {}

        }

        @media (max-width:799px) {

            #nav {
                font-family: 'Playfair Display', serif;
                font-size: 15px;
                position: fixed !important;
                width: 100%;
                margin: -30% 0% 0%;
                background-color: white;
            }

            #nav:hover {
                background-color: white;
            }

            ul {
                margin: 2%;
                padding: 10px;
            }

            li {
                list-style: none;
                display: inline;
                margin-right: 4%;
            }

            .logo {
                width: 80px;
                display: block;
            }

            #main {
                position: flex;
                padding: 5%;
                margin-top: 100px;
            }



            .title h1 {
                font-size: 3rem;
                padding-top: 5%;
                border-top: 1px solid black;
            }

            .title p {
                margin-bottom: -5%;
                font-size: 0.9rem;
            }

            .section {
                display: block;
            }

            .basic-image {
                margin: 0%;
            }

            .item1,
            .item2,
            .item3,
            .item4,
            .item5,
            .item1-2 {
                display: inline-block;
                margin: 5% 0%;
            }

            .accordion a {
                position: relative;
                display: flex;
                padding: 1rem;
                font-size: 0.8rem;
                border-bottom: 1px solid #e5e5e5;
            }
        }

